.loginForm {
    max-width: 350px;

    text-align: center;
    margin: 0 auto;
    padding: 20px;

    &__title {
        color: blue;
    }
    .error {
        color: red;
    }
    .success {
        color: green;
    }
}
