@import "styles/forward.scss";

.loginForm {
  @include border(1px, black, 8px);

  max-width: 350px;

  margin: $space-l auto;
  padding: $space-l;

  text-align: center;
  &__title {
    color: blue;
  }
  .question {
    color: black;
  }
}
