@import "styles/forward.scss";

.inputWrapper {
  position: relative;
  .input {
    @include border(1px, black, 4px);

    height: 30px;
    padding: 0 $space-xxxl 0 $space-s;

    font-size: 16px;
  }

  .input[type="password"]:hover + .tooltip {
    color: red;
  }

  .eyeBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    position: absolute;
    top: 5px;
    right: 13%;
    &:focus {
      outline: none;
    }
  }

  .error {
    margin-bottom: 10px;
    transform: translateY(0px);

    opacity: 1;

    transition: all 0.2s ease-in-out;
    color: red;

    &.hidden {
      transform: translateY(-20px);

      opacity: 0;

      transition: all 0.2s ease-in-out;
      color: red;
    }
  }
}

.requirement__list {
  padding-left: 20px;
  .requirement__item {
    list-style-type: disc;
  }
}
