@import "styles/forward.scss";

.navigation__list {
  @include flexbox(center, center, 8px);
  z-index: 2;
  flex: 1;
}

.navigation__item,
.navigation__item_login,
.navigation__item_home {
  @include border(1px, $glass3, 12px);

  &:hover {
    @include glassmorphism;
  }

  &_home {
    margin-right: auto;
  }
}

.navigation__link {
  display: inline-block;

  margin-right: auto;
  padding: $space-xxs $space-l;
  color: $text-primary;

  &.active {
    color: $text-red;
  }
}

.navigation__favorite {
  margin-left: $space-xxs;
}

@media (max-width: 768px) {
  .navigation__list {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    flex-direction: column;

    transform: translateY(-100vh);
    opacity: 0;
    transition:
      transform 0.5s ease,
      opacity 0.1s ease;

    &.active {
      transform: translateY(0vh);
      opacity: 1;
    }
  }

  .navigation__item,
  .navigation__item_login {
    margin-top: $space-l;
  }

  .navigation__item,
  .navigation__item_home,
  .navigation__item_login {
    border: 1px solid transparent;
    width: 250px;

    font-size: 1.6rem;
    text-align: center;

    &_home {
      margin-right: 0;
    }
  }
}
