@import "styles/forward.scss";

.success,
.error {
  margin: $space-xs;
  animation: translate 0.3s ease-in;
}

.error {
  color: $text-red;
}
.success {
  color: green;
}

@keyframes translate {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
