.loaderWrapper {
  position: relative;

  margin: 5px auto;

  border: 2px solid rgba(255, 0, 0, 0.5);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
