@import "./theme.scss";

// SIZES
$space-xxxl: 32px;
$space-xxl: 28px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 12px;
$space-xs: 8px;
$space-xxs: 4px;

// HEIGHT
$header-height: 80px;

// TEXT-COLOR
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-decoration: var(--text-decoration);
$text-red: var(--text-red);

// BACKGROUND-COLOR
$background-primary: var(--background-primary);
$background-primary-inverted: var(--background-primary-inverted);
$background-secondary: var(--background-secondary);
$background-secondary-inverted: var(--background-primary-inverted);

// GLASS
$glass0: var(--glass0);
$glass1: var(--glass1);
$glass2: var(--glass2);
$glass3: var(--glass3);
$glass4: var(--glass4);
