// SIZES
$space-xxxl: 32px;
$space-xxl: 28px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 12px;
$space-xs: 8px;
$space-xxs: 4px;

// TEXT-COLOR
// $text-primary: black;
// $text-secondary: black;
// $text-decoration: black;

// BACKGROUND-COLOR
// $bg-primary: black;
// $bg-primary-inverted: black;
// $bg-secondary: black;
// $bg-secondary-inverted: black;
