@import "styles/forward.scss";

.layout {
  @include flexbox(center, center, $space-m);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(100vh);
  transition: all 0.3s ease;

  &.open {
    transform: translateY(0);

    transition: all 0.3s ease;
  }
  &:focus {
    border: 5px solid red;
  }
}
