.loaderWrapper {
    position: relative;

    margin: 5px auto;

    border: 2px solid transparent;
    border-radius: 25px;

    overflow: hidden;
    .loader {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);

        width: 80%;
        height: 90%;

        background-color: blue;
        animation: loop infinite 1s linear;
    }
}

@keyframes loop {
    0% {
        transform: translate(-200%, -50%);
    }
    100% {
        transform: translate(200%, -50%);
    }
}
