@import "styles/forward.scss";

.modal {
  @include flexbox(center, center);
  flex-direction: column;
  @include glassmorphism();

  position: relative;
  z-index: 2;

  height: 250px;

  padding: $space-l $space-xxl;
  margin: 0 $space-l;

  text-align: center;

  transform: translateY(-200vh);
  transition: transform 0.7s ease;
  opacity: 0;
  &.active {
    opacity: 1;
    transform: translateY(0vh);
  }

  &__close {
    @include flexbox(center, center);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;

    background-color: red;
  }

  .modal__question {
    user-select: none;
    font-size: 30px;
  }

  .modal__input {
    margin-top: $space-l;
    padding: 0 20px;
    height: 40px;
    width: 100%;

    font-size: 24px;
    border: 1px solid black;
  }

  .modal__error {
    margin-top: $space-s;
    font-size: 20px;
    color: red;
  }

  .modal__btns {
    @include flexbox(center, center, $space-m);
    margin-top: $space-l;
    font-size: 24px;

    .modal__btn:hover {
      @include glassmorphism();
    }
  }
}
