.inputWrapper {
    position: relative;
    .input {
        border: 1px solid black;
        height: 30px;

        padding-left: 10px;
        padding-right: 30px;

        font-size: 16px;
        border-radius: 4px;
    }

    .input[type='password']:hover + .tooltip {
        color: red;
    }

    .eyeBtn {
        border: none;
        background-color: transparent;
        cursor: pointer;

        position: absolute;
        top: 5px;
        right: 13%;
        &:focus {
            outline: none;
        }
    }

    .error {
        margin-bottom: 10px;
        transform: translateY(0px);

        opacity: 1;

        transition: all 0.2s ease-in-out;
        color: red;

        &.hidden {
            transform: translateY(-20px);

            opacity: 0;

            transition: all 0.2s ease-in-out;
            color: red;
        }
    }
}
