.input {
    height: 30px;

    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 16px;
    border-radius: 4px;
}

.error {
    color: red;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;

    &.hidden {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.2s ease-in-out;
        color: red;
    }
}
