.regForm {
    max-width: 350px;

    text-align: center;
    margin: 0 auto;
    padding: 20px;

    color: red;
    .regForm__title {
    }
    .regForm__submit_btn {
    }

    .question {
        color: black;
    }
}
