@import "styles/forward.scss";

.subject {
  .subject__list {
    display: flex;
    flex-wrap: wrap;
    gap: $space-m;
  }
  .subject__add {
    margin-top: $space-l;
    &__input {
      padding: $space-s $space-l;
      border-radius: 8px;

      background-color: red;
    }
    &__btn {
      margin-left: $space-m;
      font-size: 20px;
      padding: $space-s $space-l;

      border: 1px solid red;
    }
  }
  .subject__input_add {
  }
}
