@import "styles/forward.scss";

.input__wrapper {
  @include flexbox(center, space-between, $space-xxs);
  @include border(1px, $glass4, 4px);

  padding: $space-xxs $space-s;

  .input {
    font-size: 1.2rem;
    width: 90%;
  }

  .eyeBtn {
    fill: $glass1;

    &:focus {
      outline: none;
    }
  }
}

.error {
  margin-bottom: $space-m;

  transform: translateY(-20px);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.2s ease-in-out;
  color: $text-red;

  &.active {
    transform: translateY(10px);

    opacity: 1;
    transition: all 0.2s ease-in-out;

    color: $text-red;

    visibility: visible;
    pointer-events: visible;
  }
}

@keyframes translate {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.requirement__list {
  padding-left: 20px;
  .requirement__item {
    list-style-type: disc;
  }
}
