.loginForm {
    max-width: 350px;

    margin: 0 auto;
    padding: 20px;
    text-align: center;

    &__title {
        color: blue;
    }
    .question {
        color: black;
    }
}
