// COLORS
// BG
// $main-bg-color: white;
// $inverted-bg-color: black;
// COLOR
// $primary-color: black;
// $inverted-color: white;

// ANY
// $standart-b-radius: 4px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    text-align: left;
    list-style: none;
}
// button {
//     border: none;
//     background-color: transparent;
// }

img {
    display: block;
}

html,
body,
#root,
.app {
    height: 100%;
}

html {
    font-family: 'Times New Roman', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1170px;

    margin: 0 auto;
    padding: 0 20px;

    overflow: hidden;
}

//
// ANIMATIONS
//
// @keyframes show {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// MEDIA QUERYS
// @media (max-width: 766px) {}
// @media (min-width: 767px) and (max-width: 1199px) {}
// @media (min-width: 1200px) {}
