// COLORS
// $main-bg-color: white;
// $inverted-bg-color: black;
// $primary-color: black;
// $inverted-color: white;
// ANY
// $standart-b-radius: 4px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    text-align: left;
    list-style: none;
}
// button {
//     border: none;
//     background-color: transparent;
// }

img {
    display: block;
}

.container {
    max-width: 1170px;

    margin: 0 auto;
    padding: 0 20px;

    overflow: hidden;
}
//
// ANIMATIONS
//
// @keyframes show {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }
