@import "styles/forward.scss";

.navigation {
  @include flexbox(center, space-between, 8px);

  height: 70px;
  padding: 0 $space-xxs;

  font-size: 1.2rem;

  &__list {
    @include flexbox(center, center, 4px);
    height: 100%;
  }

  &__item {
    @include border(1px, $glass3, 8px);
  }

  &__link {
    display: inline-block;

    margin-right: auto;
    padding: $space-xxs $space-l;
    color: $text-primary;

    &.active {
      color: $text-red;
    }
  }

  &__favorite {
    margin-left: $space-xxs;
  }
}
