@import "styles/forward";

.navigation {
  max-height: 100px;
  padding: $space-xxs $space-l;

  background-color: red;
  &__list {
    @include flexbox(center);
    height: 100%;
    column-gap: 5px;

    margin-right: auto;
  }

  &__item {
    @include border(1px, black, 8px);
    overflow: hidden;
  }

  &__link {
    display: inline-block;

    margin-right: auto;
    padding: $space-m $space-l;

    &.active {
      color: white;
    }
  }

  &__favorite {
    margin-left: $space-xxs;
  }
}
